<% content_for(:title, 'プロフィール') %>
<div class="profiles">
  <div class="row">
    
      <h1> <%= "プロフィール" %></h1>
    <div class="profile-table">
      <table class="table">
        <tbody>
          <tr>
            <th class="table-list">名前</th>
              <td class ="table-form"><%= @name %></td>
          </tr>
          <tr>
            <th class="table-list">誕生日</th>
              <td class ="table-form"><%= @birthday %></td>
          </tr>
          <tr>
            <th class="table-list">好きなブランド</th>
              <td class ="table-form"><%= @favorite_brand %></td>
          </tr>
            <th class="table-list">自己紹介</th>
              <td class ="table-form-comment"><%= @comment %></td>
          </tr>
          <div class = "sns-link">
          <ul class="profile-links">
            <% if @twitter.present? %>
              <li class="profile-link">
                <%= link_to @twitter, target: :_blank do %>
                  <i class="fab fa-twitter-square"></i>
                <% end %>
              </li>
            <% end %>
            <% if @instagram.present? %>
              <li class="profile-link">
                <%= link_to @instagram, target: :_blank do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>
        </tbody>
      </table>
    </div>
  </div>
</div>