<%= render "devise/shared/header"%>

<div class="contents row">
  <div class="container">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :名前 %> <em>(6 文字まで)</em>
        <%= f.text_field :name, autofocus: true, maxlength: "6" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password %><em>(再入力)</em>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="sign-up-btn">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>