<%= render "devise/shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <p class="btn"><a onClick="sound()">Gm Code</a></p>

    <audio id="sound" preload="auto">
	  <source src="https://res.cloudinary.com/dr47riclr/video/upload/v1628663126/music/%E5%B0%8F%E9%87%8E%E3%81%A1%E3%82%83%E3%82%93%E5%84%AA%E3%81%97%E3%81%95_txlboe.mp3" type="audio/mp3">
    </audio>
    
      <p class='service-explain'>
        お気に入りのコーデをシェアしよう!
      </p>
    </div>

    <div class='code-contents'>
      <h3 class='title'>New Code</h3>
        <div class="grad-wrap">
          <input id="trigger1" class="grad-trigger" type="checkbox">
          <label class="grad-btn" for="trigger1"></label>
        <div class="grad-item">
      <ul class='code-lists'>

      <% @code.each do|code| %>
        
      <li class='list'>
        <%= link_to code_path(code.id) do %>
        
        <div class='code-img-content'>
          <%= image_tag code.image, class: "code-img" if code.image.attached? %>
       </div>
        <% end %>
      <% end %>

    <% if @code.blank? %>
      <li class='list'>
        <%= image_tag "title.PNG", class: "code-img" %>
          <h3 class='item-name'>
            コーディネートを投稿しよう！
          </h3>
        <% end %>
      </ul>
    <div class="list-btn">
    </div>
  </div>
</div>

    <%= link_to(new_code_path, class: 'code-btn') do %>
  <span class='code-btn-text'>post code</span>
  <%= image_tag 'camera.png' , size: '100x55' ,class: "code-btn-icon" %>
<% end %>

  <div class='announces'>
    <h3 class='announces-title'>お知らせ</h3>
    </div>

  <table class="table">
    <tbody>
      <div class='announces'>
      <tr>
        <th class='announce-date'>2021/08/23</th>
        <td class='announce'>プロフィール機能を実装しました。</td>
        </tr>
      </div>
      
      <div class='announces'>
      <tr>
        <th class='announce-date'>2021/08/19</th>
        <td class='announce'>コメント機能を実装しました。</td>
      </tr>
      </div>

      <div class='announces'>
      <tr>
        <th class='announce-date'>2021/08/15</th>
        <td class='announce'>Gm_Codeのショートムービーが完成しました！</td>
      </tr>
      </div>
    </tbody>
  </table>

      <div class='movie-announce'>動画はこちらから</div>

   <video controls width="500" height="360" src="https://res.cloudinary.com/dr47riclr/video/upload/v1630031348/music/%E3%82%A2%E3%83%95%E3%82%9A%E3%83%AA%E7%B4%B9%E4%BB%8B%E5%8B%95%E7%94%BB_n2xadj.mp4"></video>
      <div>
      <audio  autoplay  src="https://res.cloudinary.com/dr47riclr/video/upload/v1628738609/music/Gm1_dzomgg.mp3"></audio>
    </div>
  <%= render "devise/shared/footer" %>
