<%= render "devise/shared/header" %>

<div class="contents-page">
  
  <%= render "profiles/show" %>

  <div class="content-page"><%= @name %>さんのコーデ一覧</div>

  <% @codes.each do |code| %>

  <%= link_to code_path(code.id) do %>

    <div class="content_post">
    <%= image_tag code.image, class: "code-img" if code.image.attached? %>
    <% end %>
    <div class="code-explain-box">＜コーデタイトル＞
      <%= simple_format code.code_title %>
    </div>
    <div class="code-explain-box">＜メッセージ＞
      <%= simple_format code.message %>
    </div>
    <div class="code-explain-box">＜着用ブランド＞
      <%= simple_format code.brand_name %>
    </div>
  <% end %>
    <%=link_to 'もどる', root_path, class:"root-back-button" %>
    <%=link_to 'Dm', new_room_path, class:"messages-button" if current_user.id != @id %>
    <%=link_to "編集", edit_profile_path , class: 'edit-profile' if current_user.id == @id %>
   <div>
    <audio autoplay src="https://res.cloudinary.com/dr47riclr/video/upload/v1629117741/music/Gm_Code2_zbd0rl.mp3"></audio>
  </div>
</div>