<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--right'>
       <select name="room[user_ids][]">
          <option value=""></option>
         <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %> 
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
  <%=link_to 'もどる', root_path, class:"root-back-button" %>
  <%=link_to 'すすむ', rooms_path, class:"enter-button" %>
  <audio autoplay src="https://res.cloudinary.com/dr47riclr/video/upload/v1629873142/music/Dm_Code4_qfchvo.mp3"></audio>
</div>
